<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../theme.css">
    <script src="../../jquery.min.js"></script>
    <script type="text/javascript">
        function validate_info() {
            var emp_age = document.empform.EAge.value;
            var emp_ssn = document.empform.ESSN.value;
            var emp_phno = document.empform.EPNo.value;
            var emp_sal = document.empform.ESal.value;
            if (emp_age < 20 || emp_age > 50) {
                alert("Age should be between 20 and 50..!!");
                return false;
            }
            else if (emp_ssn.length != 15) {
                alert("Enter Valid CNIC..!!");
                return false;
            }
            else if (emp_phno.length != 12) {
                alert("Enter Valid Phone Number..!!");
                return false;
            }
            else if (emp_sal <= 0) {
                alert("Enter Valid Salary..!!");
                return false;
            }
            else
                return true;
        }
    </script>
</head>
<body>
<div style="background: rgba(19, 35, 47, 0.8); height: 101px;">
    <img  src="../../logo.png" style="float: left; padding-left: 160px; margin-left: 200px;margin-top:30px">
    <label style="color: #ffdab9;  margin: auto;padding-top: 10px; margin-top: 5px; padding-left: 200px; margin-left: 200px; font-size: 40px;">ela Restaurant</label>
    <form action="../../Home/Index" method="post" style="width: 200px; padding-top: 15px;  margin-right: 250px; float: right;">
        <button class="button button-block">Logout</button>
    </form>
</div>
    <div class="form">
        <div id="empinfo">
            <h1>Add Employee Info</h1>
            <form name="empform" action="../../Home/AddEmpInfo" method="post" onsubmit="return validate_info()">
                <div class="top-row">
                    <div class="field-wrap">
                        <input name="EName" type="text" required autocomplete="off" placeholder="Employee name" />
                    </div>
                    <div class="field-wrap">
                        <input name="EAge" type="number" required autocomplete="off" placeholder="Employee Age(20 - 50)" />
                    </div>
                </div>
                <div class="field-wrap">
                    <input name="ESSN" type="text" required autocomplete="off" placeholder="CNIC (3XXXX-XXXXXXX-X)"/>
                </div>
                <div class="field-wrap">
                    <input name="EPNo" type="text" required autocomplete="off" placeholder="Phone" />
                </div>
                <div class="field-wrap">
                    <input name="EAddress" type="text" required autocomplete="off" placeholder="Employee Address"/>
                </div>
                <div class="field-wrap">
                    <select name="EDes" class="selectclass" required>
                        <option value="" style="color: black;">Designation</option>
                        <option value="Waiter" style="color: black;">Waiter</option>
                        <option value="Chef" style="color: black;">Chef</option>
                    </select>
                </div>
                <div class="field-wrap">
                    <input name="ESal" type="number" required autocomplete="off" placeholder="Salary" />
                </div>
                <button type="submit" class="button button-block">Add</button>
            </form>
            <br/>
            <br/>
            <form action="../../Home/MgrHomePage" method="post">
                <button class="button button-block">Go To Home</button>
            </form>
        </div>
    </div>
    <script>
        $('.form').find('input').on('keyup blur focus', function (e) {
            var $this = $(this),
			label = $this.prev('label');
            if (e.type === 'keyup') {
                if ($this.val() === '')
                    label.removeClass('active highlight');
                else
                    label.addClass('active highlight');
            }
            else if (e.type === 'blur') {
                if ($this.val() === '')
                    label.removeClass('active highlight');
                else
                    label.removeClass('highlight');
            }
            else if (e.type === 'focus') {
                if ($this.val() === '')
                    label.removeClass('highlight');
                else if ($this.val() !== '')
                    label.addClass('highlight');
            }
        });
        $('.tab a').on('click', function (e) {
            e.preventDefault();
            $(this).parent().addClass('active');
            $(this).parent().siblings().removeClass('active');
            target = $(this).attr('href');
            $('.tab-content > div').not(target).hide();
            $(target).fadeIn(600);
        });
    </script>
</body>
</html>